{% spaceless %}
{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
  
  <head> <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BestCoach.app - Best application for personal trainers">
    <meta name="keywords" content="BestCoach.app - Best application for personal trainers">
    <meta name="author" content="BestCoach.app">
    
    
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets_overview/images/favicon/favicon.ico' %}">
    
    
    <!-- Libs CSS -->
    <link href="{% static 'assets_overview/fonts/feather/feather.css' %}" rel="stylesheet">
    <link href="{% static 'assets_overview/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets_overview/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets_overview/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets_overview/libs/sweetalert2/dist/sweetalert2.min.css' %}">
    
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets_overview/css/theme.min.css' %}">
    <link href="{% static 'assets_overview/libs/tiny-slider/dist/tiny-slider.css' %}" rel="stylesheet">
    <title>BestCoach.app - Best application for personal trainers </title>
  </head>
  
  <body class="bg-white">
    
    <!-- Navbar -->
    {% include "overview_app/basic/navbar.html" %}
    
    <main>
      <!-- Page Content -->
      <section class="pt-md-14 pt-12 pb-14">
        <div class="container">
          <!-- Hero Section -->
          <div class="row">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12">
              <div class="mb-4 mb-xl-0 text-center">
                <span class="badge bg-success-soft rounded-pill fs-5"><span class="fw-bold">Version-v2.0.0 </span>- Updates tailored for you!
                </span>
                <!-- Caption -->
                <h1 class="display-2 ls-sm mt-2 fw-bold">Best App For Coaches</h1>
                <p class="mb-4 h2 text-muted px-md-8">
                  The best app to build your brand, create training plans, diet plans and much much more!
                </p>
                <!-- Form -->
                <div class="row">
                  <div class="col-12 text-center">
                    <button class="btn btn-dark btn-lg" type="button"  data-bs-toggle="modal" data-bs-target="#contactModal">Get started now!</button>
                  </div>
                </div>
                
              </div>
            </div>
            <!-- col -->
            <div class="offset-xl-1 col-xl-10 col-12 mt-12">
              <div class="card bg-gradient-mix-shade px-md-5 pt-md-5 px-4 pt-4 rounded-3">
                <!-- Img -->
                <img src="{% static 'assets_overview/images/background/analytics.jpg' %}" alt="" class="rounded-3 mb-n5 img-fluid smooth-shadow-md">
              </div>
            </div>
            
          </div>
        </div>
      </section>
      <!-- Section -->
      <section class="pb-8 pb-lg-14">
        <div class="container">
          <div class="row">
            <div class="offset-xl-2 col-xl-8 col-12">
              <!-- Brand logo -->
              <div class="row mt-8">
                <!-- logo -->
                <div class="col-lg-3 col-md-3 col-6 text-center mb-4 mb-xl-0
                d-flex align-items-center justify-content-center">
                  <img src="{% static 'assets_overview/images/brand/gray-logo-digitalocean.svg' %}" alt="" class="w-100">
                </div>
                <!-- logo -->
                <div class="col-lg-3 col-md-3 col-6 text-center mb-4 mb-xl-0
                d-flex align-items-center justify-content-center">
                  <img src="{% static 'assets_overview/images/brand/gray-logo-airbnb.svg' %}" alt="" class="w-75">
                </div>
                <!-- logo -->
                <div class="col-lg-3 col-md-3 col-6 text-center mb-4 mb-xl-0
                d-flex align-items-center justify-content-center">
                  <img src="{% static 'assets_overview/images/brand/gray-logo-discord.svg' %}" alt="" class="w-75">
                </div>
                <!-- logo -->
                <div class="col-lg-3 col-md-3 col-6 text-center mb-4 mb-xl-0
                d-flex align-items-center justify-content-center">
                  <img src="{% static 'assets_overview/images/brand/gray-logo-intercom.svg' %}" alt="" class="w-75">
                </div>
                
              </div>
              <hr class="mt-10">
            </div>
          </div>
        </div>
      </section>
      <!-- Section -->
      <section class="pb-8 pb-lg-12">
        <div class="container">
          <div class="row">
            <!-- Col -->
            <div class="offset-xl-2 col-xl-8 col-12">
              <!-- row -->
              <div class="row">
                <div class="col-lg-9 col-md-12 col-12 mb-8">
                  <h2 class="mb-3 display-4 fw-bold">Simple and efficient tool for growth your business
                  </h2>
                  <p class="h2 text-muted">Discover the basic benefits that you will gain by using our application.</p>
                </div>
                <div class="col-lg-12 col-md-12 col-12">
                  <!-- row -->
                  <div class="row">
                    <!-- col -->
                    <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                      <!-- icon -->
                      <div class="icon-shape icon-lg bg-primary h3 text-white rounded-3 mb-4"><i class="bi bi-lightning-charge-fill"></i></div>
                      <!-- heading -->
                      <h2 class="fw-bold">Growth earnings</h2>
                      <!-- text -->
                      <p class="fs-4">Duis ac ultrices lacus. Nulla
                        pulvinar justo ac ex
                        pulvinar placerat. Curabitur sit amet sagittis
                        sapienlectus.</p>
                    </div>
                    <!-- col -->
                    <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                      <!-- icon -->
                      <div class="icon-shape icon-lg bg-primary h3 text-white
                      rounded-3 mb-4"><i class="bi bi-chat-fill"></i></div>
                      <!-- heading -->
                      <h2 class="fw-bold">Saving time</h2>
                      <!-- text -->
                      <p class="fs-4">Vivamus gravida sem nec nunc
                        euismod, eu
                        facilisis augue congue. Etiam pharetra aliquet
                        interdum.
                      </p>
                    </div>
                    <!-- col -->
                    <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                      <!-- icon -->
                      <div class="icon-shape icon-lg bg-primary h3 text-white
                      rounded-3 mb-4"><i class="bi bi-cloud-fill"></i></div>
                      <!-- heading -->
                      <h2 class="fw-bold">Personal branding</h2>
                      <!-- text -->
                      <p class="fs-4">Vestibulum ante ipsum primis in
                        faucibus orci
                        luctus et ultrices posuere cubilia curae consequat
                        interdum.</p>
                    </div>
                    <!-- col -->
                    <div class="col-md-6 col-12 pe-lg-6 mb-lg-6 mb-4">
                      <!-- icon -->
                      <div class="icon-shape icon-lg bg-primary h3 text-white
                      rounded-3 mb-4"><i class="bi bi-grid-fill"></i></div>
                      <!-- heading -->
                      <h2 class="fw-bold">Much more!</h2>
                      <!-- text -->
                      <p class="fs-4">Praesent dolor velit, porta id
                        pharetra quis, rutrum
                        vitae velit. In ut neque qnas tristique imperdiet
                        porta.</p>
                    </div>
                  </div>
                </div>
              </div>
              <hr class="mt-6">
            </div>
          </div>
        </div>
      </section>
      <section class="pb-16">
        <!-- Container -->
        <div class="container">
          <div class="row">
            <div class="offset-xl-2 col-xl-8 col-12">
              <!-- Row -->
              <div class="row mb-8">
                <div class="col-lg-9 col-md-12 col-12 mb-8">
                  <!-- Heading -->
                  <h2 class="display-4 fw-bold">The coaches loves. Says
                  </h2>
                  <!-- Para -->
                  <p class="h2 text-muted">Optimized for a great personal trainers experience.</p>
                </div>
                <div class="col-md-12 col-12">
                  <div class="position-relative">
                    <!-- controls -->
                    <ul class="controls-testimonial controls justify-content-start" id="sliderTestimonialSecondControls">
                      <li class="prev me-2 ms-0">
                        <i class="fe fe-chevron-left"></i>
                      </li>
                      <li class="next">
                        <i class="fe fe-chevron-right"></i>
                      </li>
                    </ul>
                    <!-- slider -->
                    <div class="sliderTestimonialSecond">
                      <div class="item">
                        <div>
                          <!-- para -->
                          <span class="display-3 text-muted"><i class="mdi
                        mdi-format-quote-open"></i></span>
                          <p class="fs-3 text-dark lh-lg mb-4">"I find this mobile application to be an excellent tool for managing my clients' fitness and nutrition plans. The ability to stack multiple plans in one place and track progress easily has made my job much more efficient and effective."</p>
                          <!-- img-->
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="{% static 'assets_overview/images/avatar/avatar-1.jpg' %}" alt="" class="avatar avatar-lg rounded-circle">
                            </div>
                            <!-- text -->
                            <div class="ms-3">
                              <h4>Tim T. Cross<span class="text-info"> /</span>
                                <span class="text-muted">@timcross</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div>
                          <span class="display-3 text-muted"><i class="mdi
                        mdi-format-quote-open"></i></span>
                          <p class="fs-3 text-dark lh-lg mb-4">"As a personal trainer, I highly recommend this BestCoach.app to other trainers looking for a comprehensive solution for their clients' health and fitness needs. The app's ability to customize nutrition and training plans for each client and monitor their progress in real-time is truly impressive."</p>
                          <!-- Img -->
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="{% static 'assets_overview/images/avatar/avatar-4.jpg' %}" alt="" class="avatar avatar-lg rounded-circle">
                            </div>
                            <!-- Text -->
                            <div class="ms-3">
                              <h4>Bernhard<span class="text-info"> /</span>
                                <span class="text-muted">@xyz</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div>
                          <span class="display-3 text-muted"><i class="mdi
                        mdi-format-quote-open"></i></span>
                          <p class="fs-3 text-dark lh-lg mb-4">"I have been using BestCoach.app with my clients for several months now, and I have seen significant improvements in their fitness and health. The app's intuitive interface makes it easy for my clients to access their plans and track their progress, which has led to increased motivation and consistency."</p>
                          <!-- Img -->
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="{% static 'assets_overview/images/avatar/avatar-5.jpg' %}" alt="" class="avatar avatar-lg rounded-circle">
                            </div>
                            <!-- Text -->
                            <div class="ms-3">
                              <h4>Ali<span class="text-info"> /</span> <span class="text-muted">@xyz</span></h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div>
                          <!-- para -->
                          <span class="display-3 text-muted"><i class="mdi
                        mdi-format-quote-open"></i></span>
                          <p class="fs-3 text-dark lh-lg mb-4">"The ability to stack multiple nutrition and training plans in this mobile app has been a game-changer for me and my clients. It allows us to tailor each plan to the client's specific needs and goals, and the progress tracking feature keeps them accountable and on track."</p>
                          <!-- img-->
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="{% static 'assets_overview/images/avatar/avatar-1.jpg' %}" alt="" class="avatar avatar-lg rounded-circle">
                            </div>
                            <!-- text -->
                            <div class="ms-3">
                              <h4>Tim T. Cross<span class="text-info"> /</span>
                                <span class="text-muted">@timcross</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="item">
                        <div>
                          <span class="display-3 text-muted"><i class="mdi
                        mdi-format-quote-open"></i></span>
                          <p class="fs-3 text-dark lh-lg mb-4">"BestCoach.app is a must-have for any personal trainer looking to provide their clients with the best possible fitness and nutrition plans. The ability to customize plans, track progress, and communicate with clients all in one place has made my job much easier and more effective."</p>
                          <!-- Img -->
                          <div class="d-flex align-items-center">
                            <div>
                              <img src="{% static 'assets_overview/images/avatar/avatar-4.jpg' %}" alt="" class="avatar avatar-lg rounded-circle">
                            </div>
                            <!-- Text -->
                            <div class="ms-3">
                              <h4>Bernhard<span class="text-info"> /</span>
                                <span class="text-muted">@xyz</span>
                              </h4>
                            </div>
                          </div>
                        </div>
                      </div>
                      
                      
                    </div>
                  </div>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="mb-8">
        <div class="container">
          <!-- Row -->
          <div class="row">
            <div class="offset-xl-1 col-xl-10 col-12">
              <div class="row px-3 pt-3 pb-0 pe-lg-0 pt-lg-5 align-items-center
              rounded-3 border smooth-shadow-sm">
                <div class="col-lg-6 p-4 p-md-6 pt-lg-0">
                  <!-- Heading -->
                  <h1 class="display-4 fw-bold lh-1 mb-3">Get access now!</h1>
                  <!-- Para -->
                  <p class="lead mb-5">BestCoach.app is currently invite only. Sign up to
                    the
                    waitlist to be the first to try out BestCoach and
                    stay in the loop.
                  </p>
                  <!-- Row -->
                  <form class="row">
                    <div class="mb-3 col-md-7 col-12">
                      <input type="email" class="form-control" placeholder="Work Email" required=""  data-bs-toggle="modal" data-bs-target="#contactModal">
                    </div>
                    <!-- Button -->
                    <div class="d-grid mb-3 col-md-5 col-12 ps-md-0">
                      <button class="btn btn-primary" type="button"  data-bs-toggle="modal" data-bs-target="#contactModal">Request Access</button>
                    </div>
                  </form>
                </div>
                <div class="col-lg-5 offset-lg-1 p-0 overflow-hidden rounded-end-md shadow-lg">
                  <!-- Img -->
                  <img class="rounded-top-md card-img-size-600" src="{% static 'assets_overview/images/background/analytics.jpg' %}" alt="">
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <!-- footer -->
    {% include "overview_app/basic/footer.html" %}
    
    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{% static 'assets_overview/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets_overview/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets_overview/libs/simplebar/dist/simplebar.min.js' %}"></script>
    <script src="{% static 'assets_overview/libs/sweetalert2/dist/sweetalert2.min.js' %}"></script>
    
    
    <!-- Theme JS -->
    <script src="{% static 'assets_overview/js/theme.min.js' %}"></script>
    
    
    <script src="{% static 'assets_overview/libs/tiny-slider/dist/min/tiny-slider.js' %}"></script>
    <script src="{% static 'assets_overview/js/vendors/tnsSlider.js' %}"></script>
    
    {% if send %}
    <script>
      Swal.fire({
        icon: 'success',
        type: 'success',
        title: 'OK!',
        timer: 4000,
        text: '{{ send }}',
        confirmButtonColor: '#5EC9A7',
        confirmButtonText: 'Close window'
      })
    </script>
    {% endif %}
    
  </body>
  
</html>
{% endspaceless %}