{% spaceless %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
  
  <head> <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="BestCoach.app - Pricing">
    <meta name="keywords" content="BestCoach.app - Pricing">
    <meta name="author" content="BestCoach.app">
    
    
    <!-- Favicon icon-->
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets_overview/images/favicon/icon.png' %}">
    
    
    <!-- Libs CSS -->
    <link href="{% static 'assets_overview/fonts/feather/feather.css' %}" rel="stylesheet">
    <link href="{% static 'assets_overview/libs/bootstrap-icons/font/bootstrap-icons.css' %}" rel="stylesheet" />
    <link href="{% static 'assets_overview/libs/@mdi/font/css/materialdesignicons.min.css' %}" rel="stylesheet" />
    <link href="{% static 'assets_overview/libs/simplebar/dist/simplebar.min.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'assets_overview/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.css' %}">
    
    
    <!-- Theme CSS -->
    <link rel="stylesheet" href="{% static 'assets_overview/css/theme.min.css' %}">
    <title>BestCoach.app - Pricing</title>
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-L1EXNB7BNC"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      
      gtag('config', 'G-L1EXNB7BNC');
      
    </script>
  </head>
  
  <body>
    <!-- Page Content -->
    {% include "overview_app/basic/navbar.html" %}
    
    <main>
      <section class="py-lg-13 py-8 bg-primary">
        <div class="container">
          <!-- Page header -->
          <div class="row align-items-center">
            <div class="offset-xl-2 col-xl-8 col-lg-12 col-md-12 col-12">
              <div class="text-center mb-6 px-md-8">
                <h1 class="text-white display-3 fw-bold">
                  Simple pricing that scales with your business
                </h1>
                <p class="text-white lead mb-4">
                  Reference giving information on its origins, as well as a random
                  Lipsum generator.
                </p>
                <!-- Switch Toggle -->
                <div id="pricing-switch" class="d-flex justify-content-center align-items-center">
                  <span class="text-white me-2">Monthly</span>
                  <span class="form-check form-switch form-switch-price">
                    <input type="checkbox" class="form-check-input" id="customSwitch1" checked>
                    <label class="form-check-label" for="customSwitch1"></label>
                  </span>
                  <span class="text-white ms-2">Yearly</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Content -->
      <section class="mt-n8 pb-8">
        <div class="container">
          <div class="row">
            <div class="col-lg-4 col-md-12 col-12">
              <!-- Card -->
              <div class="card border-0 mb-3">
                <!-- Card body -->
                <div class="p-5 text-center">
                  <img src="{% static 'assets_overview/images/svg/price-icon-1.svg' %}" alt="" class="mb-5">
                  <div class="mb-5">
                    <h2 class="fw-bold">Starter</h2>
                    <p class="mb-0">
                      To start your learning to day you will get only
                      <span class="text-dark fw-medium">free Course</span>
                      access.
                    </p>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <span class="h3 mb-0 fw-bold">$</span>
                    <div class=" toggle-price-content odometer" data-price-monthly="0" data-price-yearly="0">
                      0
                    </div>
                    <span class="align-self-end mb-1 ms-2 toggle-price-content" data-price-monthly="/Monthly" data-price-yearly="/Yearly">/Yearly</span>
                  </div>
                  <div class="d-grid">
                    <a href="#" class="btn btn-outline-primary">Get Started for Free</a>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-5">
                  <h4 class="fw-bold mb-4">
                    All core features, including:
                  </h4>
                  <!-- List -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Only free courses </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">Free </span>learning paths
                      </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">5GB </span>storage</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Analytics </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Free mobile app</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Access to support forums</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- Card -->
              <div class="card border-0 mb-3 mb-lg-0">
                <!-- Card body -->
                <div class="p-5 text-center">
                  <img src="{% static 'assets_overview/images/svg/price-icon-2.svg' %}" alt="" class="mb-5">
                  <div class="mb-5">
                    <h2 class="fw-bold">Individual</h2>
                    <p class="mb-0">
                      Access all
                      <span class="text-dark fw-medium">premium courses, workshops, and mobile apps.</span>
                      Renewed monthly.
                    </p>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <span class="h3 mb-0 fw-bold">$</span>
                    <div class="toggle-price-content odometer" data-price-monthly="39" data-price-yearly="99">
                      99
                    </div>
                    <span class="align-self-end mb-1 ms-2 toggle-price-content" data-price-monthly="/Monthly" data-price-yearly="/Yearly">/Yearly</span>
                  </div>
                  <div class="d-grid">
                    <a href="#" class="btn btn-primary">Get Month Access</a>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-5">
                  <h4 class="fw-bold mb-4">
                    Everything in Starter, plus:
                  </h4>
                  <!-- List -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Offline viewing </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">Offline </span>projects
                      </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">Unlimited </span>storage</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Custom domain support </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Bulk editing </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>12 / 5 support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-12 col-12">
              <!-- Card -->
              <div class="card border-0 mb-3 mb-lg-0">
                <!-- Card body -->
                <div class="p-5 text-center">
                  <img src="{% static 'assets_overview/images/svg/price-icon-3.svg' %}" alt="" class="mb-5">
                  <div class="mb-5">
                    <h2 class="fw-bold">Team</h2>
                    <p class="mb-0">
                      Upto 10 member access everything. Save
                      <span class="text-primary fw-medium">$78 </span>per
                      year! Renewed yearly.
                    </p>
                  </div>
                  <div class="d-flex justify-content-center mb-4">
                    <span class="h3 mb-0 fw-bold">$</span>
                    <div class="toggle-price-content odometer" data-price-monthly="99" data-price-yearly="199">
                      199
                    </div>
                    <span class="align-self-end mb-1 ms-2 toggle-price-content" data-price-monthly="/Monthly" data-price-yearly="/Yearly">/Yearly</span>
                  </div>
                  <div class="d-grid">
                    <a href="#" class="btn btn-outline-primary">Get Team Monthly Access</a>
                  </div>
                </div>
                <hr class="m-0">
                <div class="p-5">
                  <h4 class="fw-bold mb-4">
                    Everything in Individual, plus:
                  </h4>
                  <!-- List -->
                  <ul class="list-unstyled mb-0">
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Workshop </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">Dedicated </span>hardware
                      </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span><span class="fw-bold text-dark">99.9% uptime </span>guarantee
                      </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>Advanced analytics </span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>3rd party integrations</span>
                    </li>
                    <li class="mb-1">
                      <span class="text-success me-1"><i class="mdi mdi-check-circle-outline fs-4"></i></span>
                      <span>24 / 7 support</span>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Client logo -->
      <section class="py-lg-10 py-3">
        <div class="container">
          <div class="row">
            <div class="col-md-12 col-12">
              <div class="mb-8 text-center">
                <h4>Loved by over 5 million users from companies like</h4>
              </div>
            </div>
          </div>
          <div class="row">
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/paypal.svg' %}" alt="">
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/netflix.svg' %}" alt="">
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/xbox.svg' %}" alt="">
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/instagram.svg' %}" alt="">
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/pinterest.svg' %}" alt="">
            </div>
            <!-- Client logo -->
            <div class="col-md-4 col-lg-2 col-6 mb-4 mb-lg-0">
              <img src="{% static 'assets_overview/images/brand/stripe.svg' %}" alt="">
            </div>
          </div>
        </div>
      </section>
      <!-- FAQ -->
      <section class="py-lg-10 py-5">
        <div class="container">
          <div class="row">
            <!-- Row -->
            <div class="col-md-12 col-12">
              <div class="mb-8 text-center">
                <h2 class="h1">Frequently Asked Questions</h2>
              </div>
            </div>
          </div>
          <!-- Row -->
          <div class="row">
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>Will i be charged now for a FREE trial?</h4>
              <p>
                Vestibulum pulvinar est at erat laoreet fringilla. Nullam
                imperdiet, augue non vestibulum triuam quam, at maximus ex mauris
                a felis.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>How does a Course subscription work?</h4>
              <p>
                Donec tempus imperdiet libero quis ultricies. Donec nunc nisi,
                imperdiet nec porta ultrices, accumsan a nibh.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>Can I cancel anytime?</h4>
              <p>
                Yes, Pellentesque habitant morbi tristique senectus et netus
                fficitur eget lacus eu, gravida blandit sem. Duis aliquam
                convallis tempor.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>How long is my personal free trial?</h4>
              <p>
                Aliquam vel sodales est. Mauris eu dignissim dolor. Praesent
                scelerisque dolor risus, quis viverra interdum turpis tincidunt
                interdum.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>What are Course team plan?</h4>
              <p>
                Quisque accumsan odio sed congue u eleifend est porttitor nisi
                lobortis, sit aget dolor rhoncus tincidunt vel a mauris.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-6 col-lg-4 col-12 mb-3">
              <h4>Are the lectures downloadable?</h4>
              <p>
                Pellentesque habitant morbi tristique senectus et netus et
                malesuada fitur eget lacus eu, gravida blandit sem.
              </p>
            </div>
            <!-- Col -->
            <div class="col-md-12 col-12 mt-lg-10 mt-4">
              <!-- Card-->
              <div class="card">
                <!-- Card body -->
                <div class="card-body">
                  <div class="d-lg-flex justify-content-between align-items-center">
                    <h4 class="mb-0">Have other questions?</h4>
                    <span>Send us a mail via:
                      <a href="https://codescandy.com/contact-us/" target="_blank">support@example.com</a></span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    </main>
    
    <!-- Footer -->
    {% include "overview_app/basic/footer.html" %}
    
    
    <!-- Scripts -->
    <!-- Libs JS -->
    <script src="{% static 'assets_overview/libs/jquery/dist/jquery.min.js' %}"></script>
    <script src="{% static 'assets_overview/libs/bootstrap/dist/js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'assets_overview/libs/simplebar/dist/simplebar.min.js' %}"></script>


      <!-- Theme JS -->
    <script src="{% static 'assets_overview/js/theme.min.js' %}"></script>




    <script src="{% static 'assets_overview/libs/odometer/odometer.min.js' %}"></script>
    <script src="{% static 'assets_overview/js/vendors/pricing.js' %}"></script>
    
    
  </body>
  
</html>
{% endspaceless %}