{% load static %}
<div class="modal fade" id="testVersionModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body">
        <div class="row">
          <div class="col-12 text-center">
            
            <p class="mt-4">You are using the demo version. You have limited rights to some options.</p>
            <img src="{% static 'img/900x900/warning_symbol_1.png' %}" class="img-fluid" alt="...">
          
          </div>
        </div>
      </div>
    </div>
  </div>
</div>