{% load static %}
<!doctype html>
<html lang="en" data-theme="dark">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="color-scheme" content="dark light">
    <title>General Information | Clever Admin Dashboard Template</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Utilities -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/utilities.css' %}">
  </head>
  
  <body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
      <!-- Sidebar -->
      {% include "app/basic/navbar.html" %}
      <!-- Content -->
      <div class="flex-lg-1 h-screen overflow-y-lg-auto">

        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
          <div class="container-fluid max-w-screen-sm vstack gap-6">
            
            <div class="card">
              <div class="card-body">
                <h5 class="mb-3">Question to the trainer</h5>
                <textarea class="form-control mb-4" id="exampleFormControlTextarea1" rows="3" placeholder="Write your question here..."></textarea>
                <a href="#" class="btn btn-primary btn-sm">Send message <i class="bi bi-send-check"></i></a>
              </div>
            </div>
            
            
            <div class="row d-flex justify-content-center">
              <div class="col-12">
                
                <div class="card" style="border:2px solid #e6e6e6;">
                  <div class="card-header d-flex justify-content-between align-items-center p-3">
                    <h5 class="mb-0">Chat messages</h5>
                    <div class="d-flex flex-row align-items-center">
                      <span class="badge bg-primary text-white me-3">4</span>
                      <i class="fas fa-minus me-3 text-muted fa-xs"></i>
                      <i class="fas fa-comments me-3 text-muted fa-xs"></i>
                      <i class="fas fa-times text-muted fa-xs"></i>
                    </div>
                  </div>
                  <div class="card-body mb-4" data-mdb-perfect-scrollbar="true" style="position: relative; height: 400px">
                    
                    <div class="d-flex justify-content-between">
                      <p class="small mb-1">Timona Siera</p>
                      <p class="small mb-1 text-muted">23 Jan 2:00 pm</p>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                      <img src="{% static 'img/avatars/ava5-bg.webp' %}" alt="avatar 1" style="width: 45px; height: 100%;">
                      <div>
                        <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">
                          Yes you can, but remember that you need more calories. Write  details of how long you want to ride and what the intensity will be.</p>
                      </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <p class="small mb-1 text-muted">23 Jan 2:05 pm</p>
                      <p class="small mb-1">Alexander Smith</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                      <div>
                        <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-primary text-white">
                          Can I ride a bike 2 times a week?
                        </p>
                      </div>
                      <img src="{% static 'img/avatars/user_basic_img.jpg' %}" alt="avatar 1" style="width: 45px; height: 100%;" class="rounded-pill">
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <p class="small mb-1">Timona Siera</p>
                      <p class="small mb-1 text-muted">23 Jan 5:37 pm</p>
                    </div>
                    <div class="d-flex flex-row justify-content-start">
                      <img src="{% static 'img/avatars/ava5-bg.webp' %}" alt="avatar 1" style="width: 45px; height: 100%;">
                      <div>
                        <p class="small p-2 ms-3 mb-3 rounded-3" style="background-color: #f5f6f7;">
                          It depends on how long you get the effects on it. I recommend 6 to a maximum of 12 weeks.
                        </p>
                      </div>
                    </div>
                    
                    <div class="d-flex justify-content-between">
                      <p class="small mb-1 text-muted">23 Jan 6:10 pm</p>
                      <p class="small mb-1">Alexander Smith</p>
                    </div>
                    <div class="d-flex flex-row justify-content-end mb-4 pt-1">
                      <div>
                        <p class="small p-2 me-3 mb-3 text-white rounded-3 bg-primary text-white">
                          How long can I use the current gym training plan?
                        </p>
                      </div>
                      <img src="{% static 'img/avatars/user_basic_img.jpg' %}" alt="avatar 1" style="width: 45px; height: 100%;" class="rounded-pill">
                    </div>
                    
                  </div>
                </div>
                
              </div>
            </div>
            
            
          </div>
        </main>
      </div>
    </div>
    <script src="{% static 'js/main.js' %}"></script>
  </body>
  
</html>
