{% load static %}
<!doctype html>
<html lang="en" data-theme="dark">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="color-scheme" content="dark light">
    <title>General Information | Clever Admin Dashboard Template</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Utilities -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/utilities.css' %}">
  </head>

<body>
  <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
    <!-- Sidebar -->
    {% include "app/basic/navbar.html" %}
    <!-- Content -->
    <div class="flex-lg-1 h-screen overflow-y-lg-auto">
      
      <!-- Sidebar -->
      {% include "app/basic/settings_header.html" %}
      
      <!-- Main -->
      <main class="py-6 bg-surface-secondary">
        <div class="container-fluid max-w-screen-md vstack gap-6">
          <div class="card">
            <div class="card-body">
              <div class="mb-5">
                <h4 class="mb-1">Basic account information</h4>
                <p class="text-sm text-muted">
                  Photo, first name, last name, cover photo, and other account details.
                </p>
              </div>
              <form class="vstack gap-5">
                <div>
                  <label class="form-label">Photo</label>
                  <div class="d-flex align-items-center">
                    <a href="#" class="avatar avatar-lg bg-warning rounded-circle text-white" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      <img alt="..." src="{% static 'img/avatars/user_basic_img.jpg' %}">
                    </a>
                    <div class="ms-5">
                      <label for="file-upload" class="btn btn-sm btn-neutral" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                        <span>Upload</span>
                        <input type="file" name="file-upload" id="file-upload" class="visually-hidden">
                      </label>
                      <a href="#" class="btn d-inline-flex btn-sm btn-neutral ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                        <span class=" pe-2">
                          <i class="bi bi-trash"></i>
                        </span>
                        <span>Remove</span>
                      </a>
                    </div>
                  </div>
                </div>
                <div>
                  <label class="form-label">Team name</label>
                  <input type="text" class="form-control" value="Alexander Smith">
                </div>
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-sm btn-neutral" data-bs-toggle="modal" data-bs-target="#testVersionModal">Cancel</button>
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#testVersionModal">Save</button>
                </div>
              </form>
            </div>
          </div>
          <div class="card">
            <div class="card-body">
              <div class="mb-5">
                <h4 class="mb-1">Background image</h4>
                <p class="text-sm text-muted">
                  Change your cover photo on your user profile.
                </p>
              </div>
              <form class="vstack gap-5">
                <div>
                  <div class="input-group position-relative">
                    <span class="input-group-text">Select photo <i class="bi bi-camera-fill ms-2"></i></span>
                    <input type="email" class="form-control" placeholder="/files/my_bg_image.png">
                  </div>
                </div>
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn d-inline-flex btn-sm btn-neutral ms-2 text-danger" data-bs-toggle="modal" data-bs-target="#testVersionModal">Remove</button>
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#testVersionModal">Save</button>
                </div>
              </form>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <div class="mb-5">
                <h4 class="mb-1">Email addresses</h4>
                <p class="text-sm text-muted">
                  Email addresses for notifications and email contact.
                </p>
              </div>
              <form class="vstack gap-5">
                <div class="row gx-3 gy-5">
                  <div class="col-md-10">
                    <label class="form-label">Email address</label>
                    <input type="email" class="form-control" value="alexander_smith@gmail.com">
                  </div>
                  <div class="col-md-2">
                    <label class="form-label">Action</label>
                    <button type="button" class="btn d-inline-flex btn-neutral text-danger" data-bs-toggle="modal" data-bs-target="#testVersionModal">Remove</button>
                  </div>
                </div>
                <div>
                  <button class="btn btn-sm btn-neutral d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                    <i class="bi bi-plus-circle me-2"></i>
                    <span>Add more</span>
                  </button>
                </div>
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#testVersionModal">Save</button>
                </div>
              </form>
            </div>
          </div>
          
          <div class="card">
            <div class="card-body">
              <div class="mb-5">
                <h4 class="mb-1">Phone numbers</h4>
                <p class="text-sm text-muted">
                  Telephone numbers for contact and SMS notifications.
                </p>
              </div>
              <form class="vstack gap-5">
                <div class="row gx-3 gy-5">
                  <div class="col-md-10">
                    <label class="form-label">Phone number</label>
                    <input type="email" class="form-control" value="+1 (352) 462 4327">
                  </div>
                  <div class="col-md-2">
                    <label class="form-label">Action</label>
                    <button type="button" class="btn d-inline-flex btn-neutral text-danger" data-bs-toggle="modal" data-bs-target="#testVersionModal">Remove</button>
                  </div>
                </div>
                <div>
                  <button class="btn btn-sm btn-neutral d-flex align-items-center" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                    <i class="bi bi-plus-circle me-2"></i>
                    <span>Add more</span>
                  </button>
                </div>
                <div class="hstack gap-2 justify-content-end">
                  <button type="button" class="btn btn-sm btn-primary" data-bs-toggle="modal" data-bs-target="#testVersionModal">Save</button>
                </div>
              </form>
              
            </div>
          </div>
          
        </div>
      </main>
    </div>
  </div>
  
    <!-- TEST MODAL -->
    {% include "app/basic/modal_test_version.html" %}
  
    <script src="{% static 'js/main.js' %}"></script>
</body>

</html>