{% load static %}
<!doctype html>
<html lang="en" data-theme="dark">
  
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <meta name="color-scheme" content="dark light">
    <title>General Information | Clever Admin Dashboard Template</title>
    <!-- Bootstrap Icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css">
    <!-- Styles -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Utilities -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/utilities.css' %}">
  </head>
  
  <body>
    <div class="d-flex flex-column flex-lg-row h-lg-full bg-surface-secondary">
      <!-- Sidebar -->
      {% include "app/basic/navbar.html" %}
      <!-- Content -->
      <div class="flex-lg-1 h-screen overflow-y-lg-auto">
      
        {% include "app/basic/header.html" %}
      
        <!-- Main -->
        <main class="py-6 bg-surface-secondary">
          <div class="container-fluid max-w-screen-sm vstack gap-6">
            
            <div class="card" style="border-top: 4px solid #5c60f5;">
              <div class="card-body">
                <h5 class="mb-3">My training plan</h5>
                <p class="text-sm lh-relaxed mb-4">
                  Training 3 times a week Monday, Wednesday and Friday. Add 2 times a week cardio training no more than 30 minutes.
                </p>
                <button type="button" class="btn btn-primary btn-sm"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Start new training <i class="bi bi-plus"></i></button>
              </div>
            </div>
            
            
            <!-- Profile picture -->
            <div class="card mb-5" style="border:2px solid #e6e6e6;">
              <div class="card-header border-bottom d-flex align-items-center">
                <h5 class="me-auto">Training A (Monday)</h5>
                <span class="badge bg-soft-primary text-primary d-lg-none"><i class="bi bi-arrow-left-short"></i> <i class="bi bi-arrow-right-short"></i></span>
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Something else here
                    </a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Series</th>
                      <th scope="col">Repeat</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/1.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Deadlift
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/2.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Dumbbell row
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/3.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Incline dumbbell press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        12/10/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/4.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Military press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/5.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Grip barbell bench press
                        </a>
                      </td>
                      <td>
                        3s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Intervals between breaks of 2-3 minutes for large muscle parts and 1-2 for small muscle parts.</span>
              </div>
            </div>
            
            <!-- Profile picture -->
            <div class="card mb-5" style="border:2px solid #e6e6e6;">
              <div class="card-header border-bottom d-flex align-items-center">
                <h5 class="me-auto">Training B (Wednesday)</h5>
                <span class="badge bg-soft-primary text-primary d-lg-none"><i class="bi bi-arrow-left-short"></i> <i class="bi bi-arrow-right-short"></i></span>
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Something else here
                    </a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Series</th>
                      <th scope="col">Repeat</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/1.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Deadlift
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/2.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Dumbbell row
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/3.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Incline dumbbell press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        12/10/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/4.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Military press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/5.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Grip barbell bench press
                        </a>
                      </td>
                      <td>
                        3s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Intervals between breaks of 2-3 minutes for large muscle parts and 1-2 for small muscle parts.</span>
              </div>
            </div>
            
            <!-- Profile picture -->
            <div class="card" style="border:2px solid #e6e6e6;">
              <div class="card-header border-bottom d-flex align-items-center">
                <h5 class="me-auto">Training C (Friday)</h5>
                <span class="badge bg-soft-primary text-primary d-lg-none"><i class="bi bi-arrow-left-short"></i> <i class="bi bi-arrow-right-short"></i></span>
                <div class="dropdown">
                  <a class="text-muted" href="#" role="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="bi bi-three-dots-vertical"></i>
                  </a>
                  <div class="dropdown-menu">
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Another action
                    </a>
                    <a href="#!" class="dropdown-item" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                      Something else here
                    </a>
                  </div>
                </div>
              </div>
              <div class="table-responsive">
                <table class="table table-hover table-nowrap">
                  <thead class="table-light">
                    <tr>
                      <th scope="col">Name</th>
                      <th scope="col">Series</th>
                      <th scope="col">Repeat</th>
                      <th></th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/1.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Deadlift
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/2.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Dumbbell row
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        10/10/8/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/3.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Incline dumbbell press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        12/10/8
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/4.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Military press
                        </a>
                      </td>
                      <td>
                        4s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                    <tr>
                      <td>
                        <img alt="..." src="{% static 'img/200x200/5.jpg' %}" class="avatar avatar-xl me-2">
                        <a class="text-heading font-semibold" href="#" data-bs-toggle="modal" data-bs-target="#testVersionModal">
                          Grip barbell bench press
                        </a>
                      </td>
                      <td>
                        3s
                      </td>
                      <td>
                        8/6/4
                      </td>
                      <td class="text-end">
                        <button type="button" class="btn btn-sm btn-neutral"  data-bs-toggle="modal" data-bs-target="#testVersionModal">Play <i class="bi bi-play"></i></button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
              <div class="card-footer border-0 py-5">
                <span class="text-muted text-sm">Intervals between breaks of 2-3 minutes for large muscle parts and 1-2 for small muscle parts.</span>
              </div>
            </div>
            
            
          </div>
        </main>
      </div>
    </div>
    
    <!-- TEST MODAL -->
    {% include "app/basic/modal_test_version.html" %}
    
    <script src="{% static 'js/main.js' %}"></script>
  </body>
  
</html>
